body {
  background: linear-gradient(#309459, #242c6b);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.box .content {
  flex-grow: 1; /* Allow the content to grow and fill the remaining space */
  word-wrap: break-word; /* Ensure text wraps within the container */
}

.Tcontainer {
  margin-top: 20px;
  align-self: center;

  width: 500px;

  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Tcontainer p {
  margin: 0;

  
  border-radius: 6px;
  width: 100%;
  text-align: center;
}

.box {

  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  overflow: hidden;

  box-shadow: 0 0 20px rgba(44, 44, 44, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.5);
}


.box img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
  border-radius: 8px;
}

/* Responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .news-item {
    width: 100%;
  }
}