body {
  background: linear-gradient(#309459, #242c6b);
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial, sans-serif;
  color: white;
}

#jsonDisplay {
  background-color: #FFFFFF;
  border-color: #151515;
  border-radius: 6px;
  border-width: 10px;
  width: 250px;
  border: 2px solid #aa6c1a; 
  display: flex;
  justify-content: center;
  margin: 10px; /* Increased margin for more space between boxes */
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  padding-left: 10px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;

  box-shadow: 0 0 20px rgba(44, 44, 44, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#jsonDisplay2 {
  background-color: #FFFFFF;
  border-color: #151515;
  border-radius: 6px;
  border-width: 10px;
  width: 250px;
  border: 2px solid #1a4aaa; 
  display: flex;
  justify-content: center;
  margin: 10px; /* Increased margin for more space between boxes */
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  padding-left: 10px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;

  box-shadow: 0 0 20px rgba(44, 44, 44, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.jimg {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 6px;
}

.container {
  margin-top: 20px;
  align-self: center;
  background-color: #151515;
  width: 500px;
  border: 1px solid #101010; 
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-overlay {
  position: absolute;
  top: 0px;
  left: 0;
  font-size: 20px;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
  text-align: center;
  border-radius: 0 0 6px 6px;
  box-sizing: border-box;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 35px;
  text-align: center;
  width: 100%;
}

.jimg2 {
  width: 40%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 6px;
}



.title-overlay2 {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  font-size: 20px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px 0;
  text-align: center;
  border-radius: 0 0 6px 6px;
  box-sizing: border-box;
}

.description2 {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 35px;
  text-align: center;
  width: 100%;
}


#jsonDisplay:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.5);
}


#jsonDisplay2:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(255, 255, 255, 0.5);
}

.NewsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

 
}



/* Responsive design */
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .news-item {
    width: 100%;
  }
}